<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.css">

    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
    <title>Inst News</title>
  </head>

  <body>
    {% block body %}
    {% endblock %}
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/jquery-3.7.1.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>
  </body>

</html>